<?xml version="1.0" encoding="UTF-8"?>
<configuration>
    <system.webServer>
        <directoryBrowse enabled="false" />
        <defaultDocument>
            <files>
                <clear />
                <add value="index.html" />
            </files>
        </defaultDocument>
        <httpErrors errorMode="Detailed" />
        <rewrite>
            <rules>
                <rule name="inicio">
					<match url="^(inicio|INICIO)$" />
					<action type="Rewrite" url="index.html" />
				</rule>
                <rule name="planes">
					<match url="^(planes|PLANES)$" />
					<action type="Rewrite" url="planes.html" />
				</rule>
                <rule name="servicios">
					<match url="^(servicios|SERVICIOS)$" />
					<action type="Rewrite" url="servicios.html" />
				</rule>
            </rules>
        </rewrite>
        <security>
            <requestFiltering>
                <requestLimits maxQueryString="4096" />
            </requestFiltering>
        </security>
    </system.webServer>
</configuration>